/*Primary-colors*/

$intro-email-sign-up-background: hsl(217,28%,15%);
$main-background: hsl(218,28%,13%);
$footer-background: hsl(216,53%,9%);
$testimonials-background: hsl(219,30%,18%);

/*Accents*/
$call-to-action1: hsl(176, 68%, 64%);
$call-to-action2: hsl(198, 60%, 50%);
$error: hsl(0, 100%, 63%);

/*Neutral*/
$neutral: hsl(0, 0%, 100%);

*{
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
};

body{
    display: block;
    background-color:red;
    text-align: center;
    font-size: 14px;
    color: $neutral;
    h1, h2, h3{
        font-family: "raleway","Arial";
        font-weight: 700;
    };
    h2{
        line-height: 30px;
    };

    p, ul{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 400;
    };
    p{
        line-height: 20px;
    }

};


.grid-container{
    position: relative;
    display: grid;
    grid-template-areas: 
    'barra'
    'main-image'
    'main'
    'ventajas'
    'info-adicional'
    'testimonios'
    'formulario'
    'contacto'
    'unordered-list'
    'footer';
    grid-template-columns: 100%;
    grid-template-rows: auto;
    background-color: $main-background;
};


.boton{
    height: 50px;
    width: 200px;
    color: $neutral;
    background-color: $call-to-action2;
    border-radius: 40px;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 0 0px;
};

.boton:hover{
    background-color: $call-to-action1;
};

.barra{
    grid-area: barra;
    top: 0;
    display: flex;
    padding: 40px 20px;
    justify-content: space-between;
    align-items: center;
    background-color: $intro-email-sign-up-background;

    img{
        padding-left: 15px;
        height: auto;
        width: 70px;
    }

    ul{
        display: flex;
        padding-right: 15px;
        
        li{
            margin: 0 0 0 10px;
        };

        a:hover{
            color: $neutral;
            font-weight: 700;
            text-decoration: underline 1px solid;
            cursor: pointer;
        };
        a:link{
            color: $neutral;
        };

        a:visited{
            color: $neutral;
        };

        a:active{
            color: $call-to-action1;
            text-decoration: underline 1px solid $call-to-action1;
        };
    };
};
.main-image{
    grid-area: main-image;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:contain;
    background-image: url(/proyecto-1/imagenes-svg/bg-curvy-mobile.svg);
    background-color: $intro-email-sign-up-background;
    padding-bottom: 95px;
    img{
        height: auto;
        width: 285px;
    }
    
}
.main{
    grid-area: main;
    
    .contenedor-main{
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: 20px 25px 0;
        box-sizing: border-box;
        position: absolute;
        top: 320px;
       
        p{
            padding: 20px 0;
        }
    };
};
.ventajas{
    grid-area: ventajas;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin: 330px 25px 50px;

    img{
        align-self: center;
        height: auto;
        width: 60px;
        margin-bottom: 30px
    };
    p{
        padding-top: 10px;
        padding-bottom: 60px;
    };
};
.info-adicional{
    grid-area: info-adicional;
    display: flex;
    flex-flow: column;
    margin: 0px 26px 200px;
    
    .imagen-info-adicional{
        height: auto;
        width: 285px;
        padding-bottom: 50px;
        align-self: center;
    }

    h3, p{
        text-align: left;
        width: auto;
        margin: 0 0 15px 0;
    };
    .contenedor-a{
        display: block;
        width: 141px;
        a{
            display: flex;
            align-items: flex-start;
            color: $call-to-action1;
            align-self:flex-start;
            border-bottom: $call-to-action1 solid 1px;
            padding-bottom: 5px;
    
            img{
                padding-left: 10px;
            };   
        };   
    };
    a:hover{
        color: $neutral;
        border-color: $neutral;
    };
    a:link{
        color: $neutral;
    };

    a:visited{
        color: $call-to-action1;
    };

    a:active{
        color: $neutral;
        img{
            filter: grayscale(100%);
        };
    };
};
.contenedor-testimonios{
    display: flex;
    flex-flow: column;
    text-align: left;
    margin-bottom: 90%;
   
   
    p{
        padding: 15px 15px 0px 15px;
        line-height: 25px;
    }
    img{
        height: auto;
        width: 30px;
        margin-left: 40px;
    };
    .testimonios{
        grid-area: testimonios;
        background-color: $testimonials-background;
        margin: 0 30px 20px;
        padding: 15px;
        border-radius: 10px;
        display: flex;
        flex-flow: column;
        ul{
            display: flex;
            align-items: flex-end;
            
        }
        img{
            border-radius: 50px;
            height: 40px;
            width: auto;
            margin: 20px 10px 0 0;
        }

        .contenedor-perfil{
            display: flex;
            flex-flow: column;
            text-align: left;
            p{
                padding: 0;
            }
  
        };
    };
};
.formulario{
    position: absolute;
    top: -200px;
    grid-area: formulario;
    background-color: $intro-email-sign-up-background;
    margin: 25px;
    border-radius: 10px;
    h2{
        padding: 30px 10px 0;
    }

    p{
        padding: 30px 25px;

    }

    input{
        width: 260px;
    };

    .input-mail{
        padding: 20px 20px 10px 20px;
        border-radius: 25px; 
        box-sizing: border-box;
        margin-bottom: 15px;
    };
};
.contacto{
    padding-top: 250px;
    box-sizing: border-box;
    grid-area: contacto;
    background-color: $footer-background;
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
    img{
        margin: 30px 40px;
    };
    ul{
        text-align: left;
        
       
        li{
            display: flex;
            align-items: center;
            margin: 30px 0;
          img{
              margin: 0 25px;
             }
        };
    };
};
.unordered-list{
    grid-area: unordered-list;
    background-color: $footer-background;
    padding: 25px;
    padding-top: 30px;

    ul{
        margin-bottom: 30px;
        text-align: left;
    
        li{
            padding-top: 12px;
        };
    };
};
.footer{
    grid-area: footer;
    background-color: $footer-background;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 30px;

    
    
    .contenedor-circular{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $neutral;
        border-radius: 50px;
        padding: 3px;
        margin: 0 10px;
        height: 20px;
        width: 20px;
    };
};


@media screen and (min-width: 700px){
   .grid-container{
       position: relative;
       display: grid;
       grid-template-areas: 
       'barra barra barra'
       'main-image main-image main-image' 
       'main main main'
       'ventajas ventajas ventajas'
       'info-adicional info-adicional info-adicional'
       'testimonios testimonios testimonios'
       'formulario formulario formulario'
       'contacto unordered-list footer';
       grid-template-columns: 60% 20% 20%;
       grid-template-rows: auto;
       background-color: $main-background;
    };
   
   .boton{
       width: 350px;
   };

   
   .barra{
    padding: 40px 0 0 40px;
        img{ 
            width: 150px;
        }
        ul{
            display: flex;
            padding-right: 45px;
            
            li{
                margin: 0 0 0 50px;
            };
        };
   };

    
   .main-image{
       
        padding:  150px 0 620px 0;
        img{
            height: auto;
            width: 650px;
        };
    };

    .main{
        .contenedor-main{
            display: flex;
            flex-flow: column;
            align-items: center;
            padding: 150px 450px 0 450px;
            box-sizing: border-box;
            position: absolute;
            top: 650px;
        };
    };
    
    .ventajas{
        grid-area: ventajas;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        align-content: center;
        padding: 0 150px;
        margin-top: 0;
        img{
            width: 70px;
        }

    };

    .info-adicional{
        
        flex-flow: row;
        align-items: center;

        .contenedor-info{
            padding-left: 50px;

            h3{
                font-size: 40px;
            }
        }

        .imagen-info-adicional{
            height: auto;
            width: 650px;
        };
    };

    .contenedor-testimonios{
        position: relative;
        justify-content: space-evenly;
        flex-flow: row ;
        grid-column: 1/4;
        margin-bottom: 500px;

        .comillas{
            position: absolute;
            margin: -50px 0 0 -1280px;
            height: auto;
            width: 80px;
            z-index: 0;
            
        };
        
        .testimonios{
            z-index: 1;
            margin: 0 30px;
            padding: 30px 40px 30px 20px;
        };
    };
    
    .formulario{
        margin: 0 350px;
        .contenedor-input-form{
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 40px;
            
            .input-mail{
                width: 400px
            };
            input{
                width: 200px;
                height: auto;
                margin: 0;
            };
    
        };
    };
    .contacto{
        padding-top: 100px;
        padding-bottom:200px;
        
        img{
            margin-left: 80px;
        };
        ul{
            display: grid;
            grid-template-columns: repeat(2,50%);
            grid-template-rows: 50% 25% 25%;
            text-align: left;
            padding-left: 40px;
            .location{
                grid-area: 2/1/4/2;
                display: flex;
            };
            .phone{
                grid-area: 2/2/3/3;
                display: flex;
                align-items: flex-end;
            };
            .mail{
                grid-area: 3/2/4/3;
                display: flex;
                align-items: flex-end; 
            };
            
        };
    };
    .unordered-list{
        padding-top: 290px;
        display: flex;
        justify-content: center;

        ul{
            text-align: left;
            padding-right: 40px;
            li{
                padding-top: 20px;
            };
        };        
    };
    .footer{
        display: flex;
        justify-content: center;
        align-content: center;
        
        padding-top: 310px;
        padding-right: 35px;
    };
};

