/*Primary-colors*/
/*Accents*/
/*Neutral*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

body {
  background-color: #181f2a;
  text-align: center;
  font-size: 14px;
  color: white;
}

body h1, body h2, body h3 {
  font-family: "raleway","Arial";
  font-weight: 700;
  margin: 20px;
}

body h2 {
  line-height: 40px;
}

body p, body ul {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

body p {
  margin: 10%;
}

.grid-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'barra' 'main' 'ventajas' 'info-adicional' 'testimonios' 'formulario' 'contacto' 'unordered-list' 'footer';
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  background-color: #181f2a;
}

.boton {
  height: 50px;
  width: 200px;
  color: white;
  background-color: #339ecc;
  border-radius: 40px;
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 0 0px;
}

.boton:hover {
  background-color: #65e2d9;
}

.barra {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: barra;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10% 3%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1c2431;
}

.barra img {
  padding-left: 5%;
  height: auto;
  width: 20%;
}

.barra ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 5%;
}

.barra ul li {
  margin: 0 0 0 10px;
}

.barra ul a:hover {
  color: white;
  font-weight: 700;
  -webkit-text-decoration: underline 1px solid;
          text-decoration: underline 1px solid;
  cursor: pointer;
}

.barra ul a:link {
  color: white;
}

.barra ul a:visited {
  color: white;
}

.barra ul a:active {
  color: #65e2d9;
  -webkit-text-decoration: underline 1px solid #65e2d9;
          text-decoration: underline 1px solid #65e2d9;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  background-color: #1c2431;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5% 10% 0 10%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(/proyecto-1/imagenes-svg/bg-curvy-mobile.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.main img {
  height: auto;
  width: 80%;
}

.ventajas {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: ventajas;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 10%;
}

.ventajas img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: auto;
  width: 15%;
}

.ventajas p {
  padding-bottom: 10%;
}

.info-adicional {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: info-adicional;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 10%;
  margin-bottom: 20%;
}

.info-adicional h3, .info-adicional p {
  text-align: left;
  padding-left: 5%;
  width: auto;
  margin: 0 0 5% 0;
}

.info-adicional .imagen-info-adicional {
  padding-bottom: 10%;
}

.info-adicional a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #65e2d9;
  text-decoration: underline;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 5%;
}

.info-adicional a img {
  padding-left: 3%;
}

.info-adicional a:hover {
  color: white;
  border-color: white;
}

.info-adicional a:link {
  color: white;
}

.info-adicional a:visited {
  color: #65e2d9;
}

.info-adicional a:active {
  color: white;
}

.info-adicional a:active img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.contenedor-testimonios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: left;
  padding: 0 10%;
  margin-bottom: 30%;
}

.contenedor-testimonios p {
  line-height: 25px;
}

.contenedor-testimonios img {
  height: auto;
  width: 8%;
  margin-left: 10%;
}

.contenedor-testimonios .testimonios {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: testimonios;
  background-color: #202a3c;
  margin: 0 20px 20px 20px;
  padding: 10px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.contenedor-testimonios .testimonios ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 10%;
}

.contenedor-testimonios .testimonios img {
  border-radius: 50%;
  height: 40px;
  width: auto;
  margin: 20px 10px 0 0;
}

.contenedor-testimonios .testimonios .contenedor-perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: left;
}

.contenedor-testimonios .testimonios .contenedor-perfil h3 {
  margin: 0;
}

.contenedor-testimonios .testimonios .contenedor-perfil p {
  margin: 0;
}

.formulario {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: formulario;
  background-color: #1c2431;
  margin: 10%;
  border-radius: 10px;
}

.formulario input {
  width: 80%;
}

.formulario .input-mail {
  padding: 20px 20px 10px 20px;
  border-radius: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 5%;
}

.contacto {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: contacto;
  background-color: #0b1523;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.contacto img {
  margin: 10% 10% 0 10%;
}

.contacto ul {
  text-align: left;
  padding-left: 5%;
}

.contacto ul p {
  margin-left: 0;
}

.contacto ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto ul li img {
  height: auto;
  width: 5%;
  margin: 5%;
}

.unordered-list {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: unordered-list;
  background-color: #0b1523;
  padding: 5%;
  padding-top: 10%;
}

.unordered-list ul {
  margin-bottom: 10%;
  text-align: left;
  padding-left: 5%;
}

.unordered-list ul li {
  padding-top: 4%;
}

.footer {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: #0b1523;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 10%;
}

.footer .contenedor-circular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid white;
  border-radius: 50%;
  padding: 1%;
  margin: 0 10px;
  height: 20px;
  width: 20px;
}

@media screen and (min-width: 700px) {
  .grid-container {
    position: relative;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'barra barra barra' 'main main main' 'ventajas ventajas ventajas' 'info-adicional info-adicional info-adicional' 'testimonios testimonios testimonios' 'formulario formulario formulario' 'contacto unordered-list footer';
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    background-color: #181f2a;
    padding: 0px;
    height: auto;
    width: auto;
  }
  .boton {
    width: 40%;
  }
  .main {
    background-image: url(/proyecto-1/imagenes-svg/bg-curvy-desktop.svg);
  }
  .ventajas {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: ventajas;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 5% 10%;
  }
  .ventajas img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: 60px;
    width: 60px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .ventajas h3 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .ventajas p {
    margin-bottom: 60px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .info-adicional {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info-adicional .imagen-info-adicional {
    height: auto;
    width: 65%;
  }
  .contenedor-testimonios {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .formulario {
    margin: 5% 15%;
  }
  .formulario .contenedor-input-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .formulario .contenedor-input-form .input-mail {
    height: 10%;
    margin: 0 2% 0 2%;
  }
  .formulario .contenedor-input-form input {
    width: 300px;
    height: 46px;
    margin: 0 2% 0 0;
    margin-right: 50px;
  }
  .contacto {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: contacto;
    background-color: #0b1523;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .contacto img {
    margin: 20px;
  }
  .contacto ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    text-align: left;
  }
  .contacto ul li {
    margin-top: 5px;
  }
  .contacto ul li img {
    height: 15px;
    width: 20px;
  }
  .unordered-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 125px;
  }
  .footer {
    padding-top: 155px;
    padding-right: 10px;
  }
}
/*# sourceMappingURL=style.css.map */