/*Primary-colors*/

$intro-email-sign-up-background: hsl(217,28%,15%);
$main-background: hsl(218,28%,13%);
$footer-background: hsl(216,53%,9%);
$testimonials-background: hsl(219,30%,18%);

/*Accents*/
$call-to-action1: hsl(176, 68%, 64%);
$call-to-action2: hsl(198, 60%, 50%);
$error: hsl(0, 100%, 63%);

/*Neutral*/
$neutral: hsl(0, 0%, 100%);

*{
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
};

body{
    background-color: $main-background;
    text-align: center;
    h1, h2, h3{
        font-family: "raleway","Arial";
        font-weight: 700;
        margin: 20px;
    };
    h2{
        line-height: 40px;
    };

    p, ul{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 400;
        margin: 20px;
    };

};

.grid-container{
    display: grid;
    grid-template-areas: 
    'barra barra barra'
    'main main main'
    'ventajas ventajas ventajas'
    'info-adicional info-adicional info-adicional'
    'testimonios testimonios testimonios'
    'formulario formulario formulario'
    'contacto contacto contacto'
    'unordered-list unordered-list unordered-list'
    'footer footer footer';
    
    background-color: $main-background;
    padding: 0px;
    height: auto;
    width: auto;
};

div{ 
    padding: 20px 0;
    font-size: 14px;
    color: $neutral;

    

    .boton{
        height: 50px;
        width: 200px;
        color: $neutral;
        background-color: $call-to-action2;
        border-radius: 40px;
        margin-top: 10px;
        margin-bottom: 50px;
        padding: 0 0px;
    };

    .boton:hover{
        background-color: $call-to-action1;
    };
    
    .barra{
        grid-area: barra;
        top: 0;
        display: flex;
        padding: 10px;
        justify-content: space-between;
        align-items: center;

        img{
            height: 30px;
            width: 100px;
        }

        ul{
            display: flex;
            li{
                margin: 5px
            };

            li:hover{
                color: $neutral;
                font-weight: 700;
                text-decoration: underline 1px solid;
                cursor: pointer;
            };
        };
    };
    .main{
        grid-area: main;
        background-color: $main-background;
        margin: 0 25px;

        img{
            height: 200px;
        }

       
    };
    .ventajas{
        grid-area: ventajas;
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        padding: 0 20px;

        img{
            align-self: center;
            height: 60px;
            width: 60px;
        };
       p{
           margin-bottom: 60px;
       };
    };
    .info-adicional{
        grid-area: info-adicional;
        display: flex;
        flex-flow: column;
        margin: 20px;
        padding: 10px;

        h3, p{
            text-align: left;
            padding-left: 20px;
            width: auto;
            margin: 0 0 20px 0;
        };


        a{
            color: $call-to-action1;
            text-decoration: underline;
            align-self:flex-start;
            padding-left: 20px;
            img{
                padding-bottom: 0px;
                border-bottom: 1.5px solid $call-to-action1;
            };
        };
        a:hover{
            color: $neutral;
            border-color: $neutral;
        };
    };
    .contenedor-testimonios{
        display: flex;
        flex-flow: column;
        grid-column: 1/4;
        text-align: left;
        h3{
            margin: 0 50px;
        }
        p{
            line-height: 25px;
        }
        img{
            height: 20px;
            width: 25px;
            margin-left: 35px;
        };
        .testimonios{
            grid-area: testimonios;
            background-color: $testimonials-background;
            margin: 0 20px 20px 20px;
            padding: 10px;
            border-radius: 25px;
            display: flex;
            flex-flow: column;
            ul{
                display: flex;
            }
            img{
                border-radius: 50%;
                height: 40px;
                width: auto;
                align-self:baseline;
                margin: 20px 10px 0 0;
            }

            .contenedor-perfil{
                align-self: center;
                text-align: left;

                h3{
                    margin: 0;
                }
               
                p{
                    margin: 0 ;
                }
        };
            };
    };
    .formulario{
        grid-area: formulario;
        background-color: $intro-email-sign-up-background;
        margin: 20px;
        border-radius: 25px;
        input{
            width: 80%;
        }

        .input-mail{
            padding: 20px 20px 10px 20px;
            border-radius: 25px; 
        };
    };
    .contacto{
        grid-area: contacto;
        background-color: $footer-background;
        display: flex;
        align-items: flex-start;
        flex-flow: column wrap;
        img{
            margin: 20px;
        };
        ul{
            text-align: left;
            li{
                display: flex;
                margin-top: 5px;
               img{
                   height: 15px;
                   width: 20px;
               }; 
            };
        };
    };
    .unordered-list{
        grid-area: unordered-list;
        background-color: $footer-background;

        ul{
            margin-bottom: 10px;
            text-align: left;
            padding-left: 20px;
            li{
                padding-top: 10px
            };
        };
    };
    .footer{
        grid-area: footer;
        background-color: $footer-background;
        display: flex;
        justify-content: center;
        
        
        .contenedor-circular{
            border: 1px solid $neutral;
            border-radius: 50%;
            padding: 5px;
            margin: 0 10px;
        };
    };
};


@media screen and (min-width: 700px){
   .grid-container{
       position: relative;
       display: grid;
       grid-template-areas: 
       'barra barra barra'
       'main main main'
       'ventajas ventajas ventajas'
       'info-adicional info-adicional info-adicional'
       'testimonios testimonios testimonios'
       'formulario formulario formulario'
       'contacto unordered-list footer';
       background-color: $main-background;
       padding: 0px;
       height: auto;
       width: auto;
   };

    div{ 
        
        .boton{
            width: 40%;
        };
        
        .barra{
            img{
                margin-left: 30px;
            }
    
            ul{
                li{
                    margin: 20px
                };
            };
        };
        .main{
            grid-area: main;
            background-color: $main-background;
            margin: 0 20%;
    
            img{
                height: 300px;
            }
    
           
        };
        .ventajas{
            grid-area: ventajas;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
            align-content: center;
            padding: 0 20px;
    
            img{
                align-self: center;
                height: 60px;
                width: 60px;
                order: 1;
            };
            h3{
                order: 2;
            }
           p{
               margin-bottom: 60px;
               order: 2;
           };
        };
        .info-adicional{
            flex-flow: row;

           .imagen-info-adicional{
               width: 60%;
           }
    
            h3, p{
                
                padding-left: 30px;
            };

            .contenedor-info{   
                    a{
                    padding-left: 0;
                    img{
                        padding-bottom: 0px;
                        border-bottom: 1.5px solid $call-to-action1;
                    };
                };
                a:hover{
                    color: $neutral;
                    border-color: $neutral;
                };
            };
        };
        .contenedor-testimonios{
            justify-content: space-evenly;
            flex-flow: row ;
            grid-column: 1/4;
        };
        
        .formulario{
            margin: 5% 15%;
            .contenedor-input-form{
                display: flex;
                justify-content: space-evenly;
                
                .input-mail{
                    height: 10%;
                    margin: 0 2% 0 2%;
                
                };
                input{
                    width: 300px;
                    height: 46px;
                    margin: 0 2% 0 0;
                   margin-right: 50px;
                };
        
            }
        };
        .contacto{
            grid-area: contacto;
            background-color: $footer-background;
            display: flex;
            align-items: flex-start;
            flex-flow: column wrap;
            img{
                margin: 20px;
            };
            ul{
                display: flex;
                flex-flow: row wrap;
                text-align: left;
                li{
                    margin-top: 5px;
                    img{
                       height: 15px;
                       width: 20px;
                   }; 
                };
            };
        };
        .unordered-list{
           
            display: flex;
            padding-top: 125px;
        };
        .footer{
            padding-top: 155px;
            
            
            .contenedor-circular{
                padding: 10px;
                margin: 0 10px;
                height: 2%;

                i{
                    padding-bottom: 10px;

                }
            };
        };
    };
};