/*Primary-colors*/

$intro-email-sign-up-background: hsl(217,28%,15%);
$main-background: hsl(218,28%,13%);
$footer-background: hsl(216,53%,9%);
$testimonials-background: hsl(219,30%,18%);

/*Accents*/
$call-to-action1: hsl(176, 68%, 64%);
$call-to-action2: hsl(198, 60%, 50%);
$error: hsl(0, 100%, 63%);

/*Neutral*/
$neutral: hsl(0, 0%, 100%);

*{
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
};

body{
    background-color: $main-background;
    text-align: center;
    font-size: 14px;
    color: $neutral;
    h1, h2, h3{
        font-family: "raleway","Arial";
        font-weight: 700;
        margin: 4%;
    };
    h2{
        line-height: 40px;
    };

    p, ul{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 400;
    };
    p{
        margin: 6%;
        line-height: 20px;
    }

};


.grid-container{
    position: relative;
    display: grid;
    grid-template-areas: 
    'barra'
    'main-image'
    'main'
    'ventajas'
    'info-adicional'
    'testimonios'
    'formulario'
    'contacto'
    'unordered-list'
    'footer';
    grid-template-columns: 100%;
    grid-template-rows: auto;
    background-color: $main-background;
};


.boton{
    height: 50px;
    width: 200px;
    color: $neutral;
    background-color: $call-to-action2;
    border-radius: 40px;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 0 0px;
};

.boton:hover{
    background-color: $call-to-action1;
};

.barra{
    grid-area: barra;
    top: 0;
    display: flex;
    padding: 10% 3%;
    justify-content: space-between;
    align-items: center;
    background-color: $intro-email-sign-up-background;

    img{
        padding-left: 5%;
        height: auto;
        width: 20%;
    }

    ul{
        display: flex;
        padding-right: 5%;
        
        li{
            margin: 0 0 0 10px;
        };

        a:hover{
            color: $neutral;
            font-weight: 700;
            text-decoration: underline 1px solid;
            cursor: pointer;
        };
        a:link{
            color: $neutral;
        };

        a:visited{
            color: $neutral;
        };

        a:active{
            color: $call-to-action1;
            text-decoration: underline 1px solid $call-to-action1;
        };
    };
};
.main-image{
    grid-area: main-image;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:contain;
    background-image: url(/proyecto-1/imagenes-svg/bg-curvy-mobile.svg);
    background-color: $intro-email-sign-up-background;
    padding-bottom: 25%;
    img{
        height: auto;
        width: 80%;
    }
    
}
.main{
    grid-area: main;
    
    .contenedor-main{
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 5% 10% 0 10%;
        box-sizing: border-box;
        position: absolute;
        top: 7%;
    };
};
.ventajas{
    grid-area: ventajas;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    padding: 90% 10% 10% 10%;

    img{
        align-self: center;
        height: auto;
        width: 15%;
    };
    p{
        padding-bottom: 10%;
    };
};
.info-adicional{
    grid-area: info-adicional;
    display: flex;
    flex-flow: column;
    padding: 10%;
    margin-bottom: 20%;

    h3, p{
        text-align: left;
        padding-left: 5%;
        width: auto;
        margin: 0 0 5% 0;
    };

    .imagen-info-adicional{
        padding-bottom: 10%;
    }


    a{
        display: flex;
        align-items: flex-start;
        color: $call-to-action1;
        text-decoration: underline;
        align-self:flex-start;
        padding-left: 5%;

        img{
            padding-left: 3%;
        }
        
    };
    a:hover{
        color: $neutral;
        border-color: $neutral;
    };
    a:link{
        color: $neutral;
    };

    a:visited{
        color: $call-to-action1;
    };

    a:active{
        color: $neutral;
        img{
            filter: grayscale(100%);
        }
        
    };
};
.contenedor-testimonios{
    display: flex;
    flex-flow: column;
    text-align: left;
    padding: 0 10%;
    margin-bottom: 90%;
   
    p{
        line-height: 25px;
    }
    img{
        height: auto;
        width: 8%;
        margin-left: 10%;
    };
    .testimonios{
        grid-area: testimonios;
        background-color: $testimonials-background;
        margin: 0 20px 20px 20px;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        flex-flow: column;
        ul{
            display: flex;
            align-items: flex-end;
            margin: 10%;
        }
        img{
            border-radius: 50%;
            height: 40px;
            width: auto;
            margin: 20px 10px 0 0;
        }

        .contenedor-perfil{
            display: flex;
            flex-flow: column;
            text-align: left;

            h3{
                margin: 0;
            }
            
            p{
                margin: 0 ;
            };
        };
    };
};
.formulario{
    position: absolute;
    top: -200px;
    grid-area: formulario;
    background-color: $intro-email-sign-up-background;
    margin: 10%;
    border-radius: 10px;
    input{
        width: 80%;
    };

    .input-mail{
        padding: 20px 20px 10px 20px;
        border-radius: 25px; 
        box-sizing: border-box;
        margin-bottom: 5%;
    };
};
.contacto{
    padding-top: 70%;
    box-sizing: border-box;
    grid-area: contacto;
    background-color: $footer-background;
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
    img{
        margin: 10% 10% 0 10%;
    };
    ul{
        text-align: left;
        padding-left: 5%;
        p{
            margin-left: 0;
        }
       
        li{
            display: flex;
            align-items: center;
            img{
                height: auto;
                width: 5%;
                margin: 5%
            }; 
        };
    };
};
.unordered-list{
    grid-area: unordered-list;
    background-color: $footer-background;
    padding: 5%;
    padding-top: 10%;

    ul{
        margin-bottom: 10%;
        text-align: left;
        padding-left: 5%;
        li{
            padding-top: 4%;
        };
    };
};
.footer{
    grid-area: footer;
    background-color: $footer-background;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10%;

    
    
    .contenedor-circular{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $neutral;
        border-radius: 50%;
        padding: 1%;
        margin: 0 10px;
        height: 20px;
        width: 20px;
    };
};


@media screen and (min-width: 700px){
   .grid-container{
       position: relative;
       display: grid;
       grid-template-areas: 
       'barra barra barra'
       'main-image main-image main-image' 
       'main main main'
       'ventajas ventajas ventajas'
       'info-adicional info-adicional info-adicional'
       'testimonios testimonios testimonios'
       'formulario formulario formulario'
       'contacto unordered-list footer';
       grid-template-columns: 60% 20% 20%;
       grid-template-rows: auto;
       background-color: $main-background;
    };
   
   .boton{
       width: 50%;
   };

   
   .barra{
    padding: 5% 3%;
        img{ 
            width: 15%;
        }
        ul{
            display: flex;
            padding-right: 5%;
            
            li{
                margin: 0 0 0 50px;
            };
        }
   };

    
        
    
   .main-image{
        padding-bottom: 45%;
        img{
            height: auto;
            width: 50%;
        };
    };

    .main{
        .contenedor-main{
            display: flex;
            flex-flow: column;
            align-items: center;
            padding: 5% 30% 0 30%;
            box-sizing: border-box;
            position: absolute;
            top: 12%;
        };
    };
    
    .ventajas{
        grid-area: ventajas;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        align-content: center;
        padding: 0 10%;
       
       
    };

    .info-adicional{
        margin-bottom: 0%;
        flex-flow: row;
        align-items: center;

        .imagen-info-adicional{
            height: auto;
            width: 65%;
        };
    };

    .contenedor-testimonios{
        position: relative;
        justify-content: space-evenly;
        flex-flow: row ;
        grid-column: 1/4;
        margin-bottom: 40%;

        .comillas{
            position: absolute;
            margin: -4% 0 0 -72%;
            height: auto;
            width: 6%;
            z-index: 0;
            
        };
        
        .testimonios{
            z-index: 1;
            margin: 0 0 0 3%;
            padding: 1%;
        };
    };
    
    .formulario{
        margin: 0 15%;
        .contenedor-input-form{
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 5%;
            
            .input-mail{
                margin: 0 2% 0 2%;
            };
            input{
                width: 40%;
                height: auto;
                margin: 0 2% 0 0;
            };
    
        };
    };
    .contacto{
        padding-top: 10%;
        padding-bottom: 20%;
        
        img{
            margin: 10% 10% 0 10%;
        };
        ul{
            display: grid;
            grid-template-columns: repeat(2,50%);
            grid-template-rows: 50% 25% 25%;
            text-align: left;
            padding-left: 5%;
            .location{
                grid-area: 2/1/4/2;
            };
            .phone{
                grid-area: 2/2/3/3;
                
            };
            .mail{
                grid-area: 3/2/4/3; 
            };
            
        };
    };
    .unordered-list{
        padding-top: 105%;
        display: flex;
        justify-content: center;

        ul{
            text-align: left;
            padding-right: 10%;
            li{
                padding-top: 20%;
            };
        };        
    };
    .footer{
        display: flex;
        justify-content: center;
        align-content: center;
        
        padding-top: 110%;
        padding-right: 5%;
    };
};

